<% include ../partials/header %>
  <div class="container">
    <h2>Website: <%= website %> <span class="key-span">(<%= key %>)</span></h2>
    <h2>Visits: <%= visits %></h2>
    <h2>Uniques: <%= uniques %></h2>
    <h4>Log:</h4>
    <ul>
    <% dataCollection.forEach(function(ip) { %>
        <li><%=('0'+ip.dateStamp.getDay()).slice(-2)%>/<%=('0'+ip.dateStamp.getMonth()).slice(-2)%>/<%=ip.dateStamp.getFullYear()%> <%=ip.dateStamp.getHours()%>.<%=('0'+ip.dateStamp.getMinutes()).slice(-2)%>.<%=('0'+ip.dateStamp.getSeconds()).slice(-2) %> - <%= ip.ip %> - <%= ip.hash %> - <%= ip.county %> - <%= ip.region %> - <%= ip.city %></li>
    <% }); %>
    </ul>

  </div>

<% include ../partials/footer %>
